In [37]:
import pandas as pd

In [45]:
from sqlalchemy import create_engine

In [46]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [47]:
engine.connect()

In [48]:
df = pd.read_csv(r"ny-taxi-data/green_tripdata_2019-10.csv")

/tmp/ipykernel_15450/4266055656.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"ny-taxi-data/green_tripdata_2019-10.csv")

In [49]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [50]:
print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [51]:
df.to_sql(name="green_taxi_data", con=engine, if_exists="append")

386

In [55]:
len(df) == 476386

True

In [58]:
con = engine.connect()

## Question 5:

In [61]:
from sqlalchemy import text

In [64]:
query = """ select 
	count(*)
from 
	green_taxi_data 
where 
		(lpep_pickup_datetime >= '2019-10-01' and lpep_pickup_datetime < '2019-11-01')
	and 
		(lpep_dropoff_datetime >= '2019-10-01' and lpep_dropoff_datetime < '2019-11-01')
	and
		trip_distance <= 1
		
"""
rs = con.execute(text(query))
for row in rs:
    print(row)

(104802,)

In [65]:
query = """ select 
	count(*)
from 
	green_taxi_data 
where 
		(lpep_pickup_datetime >= '2019-10-01' and lpep_pickup_datetime < '2019-11-01')
	and 
		(lpep_dropoff_datetime >= '2019-10-01' and lpep_dropoff_datetime < '2019-11-01')
	and
		trip_distance > 1 and trip_distance <= 3
		
"""
rs = con.execute(text(query))
for row in rs:
    print(row)

(198924,)

In [66]:
query = """ select 
	count(*)
from 
	green_taxi_data 
where 
		(lpep_pickup_datetime >= '2019-10-01' and lpep_pickup_datetime < '2019-11-01')
	and 
		(lpep_dropoff_datetime >= '2019-10-01' and lpep_dropoff_datetime < '2019-11-01')
	and
		trip_distance > 3 and trip_distance <= 7
		
"""
rs = con.execute(text(query))
for row in rs:
    print(row)

(109603,)

In [67]:
query = """ select 
	count(*)
from 
	green_taxi_data 
where 
		(lpep_pickup_datetime >= '2019-10-01' and lpep_pickup_datetime < '2019-11-01')
	and 
		(lpep_dropoff_datetime >= '2019-10-01' and lpep_dropoff_datetime < '2019-11-01')
	and
		trip_distance > 7 and trip_distance <= 10
		
"""
rs = con.execute(text(query))
for row in rs:
    print(row)

(27678,)

In [68]:
query = """ select 
	count(*)
from 
	green_taxi_data 
where 
		(lpep_pickup_datetime >= '2019-10-01' and lpep_pickup_datetime < '2019-11-01')
	and 
		(lpep_dropoff_datetime >= '2019-10-01' and lpep_dropoff_datetime < '2019-11-01')
	and
		trip_distance > 10
		
"""
rs = con.execute(text(query))
for row in rs:
    print(row)

(35189,)

In [69]:
query = """select 
	lpep_pickup_datetime
from 
	green_taxi_data 
Order By
	trip_distance desc
limit
	1
"""

rs = con.execute(text(query))
for row in rs:
    print(row)

(datetime.datetime(2019, 10, 31, 23, 23, 41),)

In [ ]:
query = """select 
	lpep_pickup_datetime
from 
	green_taxi_data 
Order By
	trip_distance desc
limit
	1
"""

rs = con.execute(text(query))
for row in rs:
    print(row)

In [ ]:
query = """select 
	lpep_pickup_datetime
from 
	green_taxi_data 
Order By
	trip_distance desc
limit
	1
"""

rs = con.execute(text(query))
for row in rs:
    print(row)

In [ ]:
query = """select 
	lpep_pickup_datetime
from 
	green_taxi_data 
Order By
	trip_distance desc
limit
	1
"""

rs = con.execute(text(query))
for row in rs:
    print(row)

# Ingesting the zones csv file

In [73]:
df_zones = pd.read_csv(r"ny-taxi-data/taxi_zone_lookup.csv")
print(pd.io.sql.get_schema(df_zones, name="green_taxi_zones", con=engine))
df_zones.to_sql(name="green_taxi_zones", con=engine, if_exists="append")

CREATE TABLE green_taxi_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

265

## Question 5:

In [74]:
query = """select 
	z."Zone"
from 
		green_taxi_data g
	join
		green_taxi_zones z
	on
		g."PULocationID" = z."LocationID"
where 
	Date(g.lpep_pickup_datetime) = '2019-10-18'
group by
	z."Zone"
having
	SUM(g.total_amount) > 13000
"""

rs = con.execute(text(query))
for row in rs:
    print(row)

('East Harlem North',)
('East Harlem South',)
('Morningside Heights',)

## Question 6:

In [76]:
query = """select 
	z."Zone"
from 
		green_taxi_data g
	join
		green_taxi_zones z
	on
		g."DOLocationID" = z."LocationID"
where 
		(Date(g.lpep_pickup_datetime) between '2019-10-01' and '2019-10-31')
	and
		g."PULocationID" = (select zz."LocationID" from green_taxi_zones zz where zz."Zone"='East Harlem North')
group by
	z."Zone", g.tip_amount
order by
	g.tip_amount desc
limit
	1
"""

rs = con.execute(text(query))
for row in rs:
    print(row)

('JFK Airport',)